@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

input,
p,
h1,
h2,
h3,
h4,
h5,
span,
a,
small,
tr,
td,
th,
li,
button {
    font-family: 'DM Sans', sans-serif;
}
body {
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}

.search-input {
    padding: 40px 0px;
    max-width: 800px;
    margin: 0 auto;
}

.header {
    background-color: #e8f0fe;
}
.powered-by {
    display: flex;
    align-items: center;
    bottom: 0;
    right: 0;
    position: fixed;
    grid-gap: 5px;
    margin: 30px;
    background-color: #000;
    padding: 4px 10px;
    border-radius: 5px;
    z-index: 99;
    color: #fff;
    font-size: 13px;
}
.powered-by a {
    text-decoration: auto !important;
}

.powered-by svg {
    font-size: 13px;
    color: #fff;
}

.main-container {
    max-width: 800px;
    margin: 0 auto;
}

.hn-top {
    border: 1px solid #e8f0fe;
    background-color: #fff;
}
.hn-top .post-card {
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid #e8f0fe;
    padding: 10px 0px;
}
.hn-top .post-card .post-rank {
    padding: 0px 15px;
    display: flex;
    align-items: baseline;
}
.hn-top .post-card .post-rank svg {
    height: 14px;
    width: 14px;
}
.hn-top .post-card .post-rank span {
    font-size: 14px;
}

.hn-top .post-card .post-title a {
    color: #000;
}
.hn-top .post-card .post-numbers {
    border-top: 1px solid #e8f0fe;
    padding: 4px 0px;
}

.hn-top .post-card .post-content a {
    text-decoration: auto;
    color: #000;
}
.content-box,
.hn-top {
    margin: 20px auto;
    max-width: 800px;
    padding: 0px 20px;
}
.comment-feed {
    border: 1px solid #e8f0fe;
}
.comment-feed .c-card {
    border-bottom: 1px solid #e8f0fe;
}
.comment-feed .c-card .comment {
    padding: 5px 10px;
    background-color: #fff;
}
.comment-feed .c-card .post-meta {
    padding: 0px 10px;
    display: flex;
    border-top: 1px solid #e8f0fe;
}
.comment-feed .c-card .post-meta .meta-tab {
    border-right: 1px solid #e8f0fe;
    padding: 5px 10px;
}
.comment-feed .c-card .post-meta .meta-tab p {
    margin: 0;
}
.comment-feed .c-card .c-text {
    white-space: pre-line;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.comment-feed .c-card .c-text p {
    margin: 5px 0 !important;
}
.post-header {
    background-color: #e8f0fe;
    padding: 20px;
}
.post-link {
    color: #666 !important;
    text-decoration: underline;
    font-size: 14px;
}
.post-details {
    display: flex;
    align-items: center;
    grid-gap: 15px;
}
.post-details a {
    color: #000;
}
.post-details a:hover {
    text-decoration: underline;
}
.post-details .options {
    display: flex;
    align-items: center;
    grid-gap: 3px;
}
.post-details .options svg {
    height: 14px;
    width: 14px;
}
.post-details .options span {
    font-size: 13px;
}
.home-text span {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.read-more-less {
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}
.read-more-less svg {
    height: 14px;
    width: 14px;
}

.hero-section {
    background-color: #e8f0fe;
}
.hero-section h3 {
    max-width: 400px;
}
.hero-section .hero-inner {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}
.hero-section .hero-inner input {
    width: 500px !important;
}
